{% extends 'dashboard/pages/base.html' %}

{% block title %}Dashboard | Lissaro{% endblock title %}
{% block content %}
    {% include 'dashboard/partials/header.html' %}
    <div class="dashboard">
        <div class="dashboard__col1">
            {% include 'dashboard/partials/summary.html' %}
        </div>
        <div class="dashboard__col2">
            <div class="paylists-container">
                <h4>Pagamentos atrasados</h4>
                <div class="paylists">
                    {% for data in payment_bills_late %}
                        {% include 'dashboard/partials/list-item.html' %}
                    {% empty %}
                        <div class="empty">
                            <i class="fa-solid fa-check"></i>
                            <p>Não há pagamentos</p>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
            <div class="paylists-container">
                <h4>Pagamentos de hoje</h4>
                <div class="paylists">
                    {% for data in payment_bills_today %}
                        {% include 'dashboard/partials/list-item.html' %}
                    {% empty %}
                        <div class="empty">
                            <i class="fa-solid fa-check"></i>
                            <p>Não há pagamentos</p>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
            <div class="paylists-container">
                <h4>Próximos pagamentos</h4>
                <div class="paylists">
                    {% for data in payment_bills_rest %}
                        {% include 'dashboard/partials/list-item.html' %}
                    {% empty %}
                        <div class="empty">
                            <i class="fa-solid fa-check"></i>
                            <p>Não há pagamentos</p>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>
    </div>
    {% include 'dashboard/partials/modal.html' %}
{% endblock content %} 

{% block flashs %}
    <ul class="dashboard-messages" id="flash-messages">
        {% if messages %}
        
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        {% endif %}
    </ul>
{% endblock flashs %}

{% block javascript %}
    <script>
        modal = document.getElementById("modal")
        conf = document.getElementById("conf-btt")
        modalCancelBtt = document.getElementById("cancel-btt")
        modalSaveBtt = document.getElementById("save-btt")
        flashMessage = document.getElementById("flash-messages")
        reloadIcon = document.getElementById("reload-icon")
        reloadTxt = document.getElementById("reload-text")
        listAccounts = document.getElementById("list-accounts")
        accountsBtt = document.getElementById("accounts-btt")

        reloadIcon.addEventListener('click',()=>{
            reloadIcon.classList.add('rotate-center')
            reloadTxt.innerHTML="Atualizando"
        })

        accountsBtt.addEventListener('click',()=>{
            toggleActive(listAccounts)
        })
        
        modalCancelBtt.addEventListener('click',()=>{
            toggleActive(modal)
        })

        conf.addEventListener('click',()=>{
            toggleActive(modal)
        })

        function toggleActive(element){
            element.classList.toggle('active')
        }

        window.addEventListener('load',()=>{
            unfade(flashMessage)
        })
    </script>
{% endblock javascript %}
        