{% load filters %}
<div class="container-summary">

    <div class="container-resume-acc"> 
        <div class="total-balance-container">
            <i class="fa-solid fa-building-columns"></i>
            <div class="total-balance">
                <span class="title">Saldo bancário total</span>
                {% if total_balance < 0 %}
                    <strong class="value payment">{{total_balance| format}}</strong>
                    {% else %}
                    <strong class="value">{{total_balance| format}}</strong>
                {% endif %}
                
            </div>
        </div>
        
        <div class="accounts"> 
            <button id="accounts-btt">
                <i class="fa-solid fa-eye"></i>
                <span>Visualizar Contas</span>
            </button>
            <ul id="list-accounts">
                {% for account in balances_on_account %}
                    <li>
                        <strong>{{account.conta}}</strong>
                        {% if account.valor < 0 %}
                                <span class="payment">{{account.valor| format}}</span>
                            {% else %}
                                <span>{{account.valor| format}}</span>
                        {% endif %}
                    </li>
                {% endfor %}       
            </ul>
        </div>
    </div>

    <div class="container-resume-trans">
        <div>
            <span>A receber hoje:</span>
            <strong class="receivement">{{receivements_value_today| format}}</strong>
        </div>
        <div>
            <span>Restante do mês:</span>
            <strong>{{receivements_value_rest| format}}</strong>
        </div>
        <div>
            <span>Atrasados:</span>
            <strong>{{receivements_value_late| format}}</strong>
        </div>
    </div>

    <div class="container-resume-trans">
        <div>
            <span>A pagar hoje:</span>
            <strong class="payment">{{payment_value_today| format}}</strong>
        </div>
        <div>
            <span>Restante do mês:</span>
            <strong>{{payment_value_rest| format}}</strong>
        </div>
        <div>
            <span>Atrasados:</span>
            <strong>{{payment_value_late| format}}</strong>
        </div>
    </div>
    <div class="container-daily-flow">
    </div>
</div>