<div class="container-summary">

    <div class="container-resume-acc"> 
        <i class="fa-solid fa-building-columns"></i>
        <div class="content">
            <span class="title">Caixa Tesourária</span>
            <strong class="value">R$ 00.000,00</strong>
        </div>
    </div>

    <div class="container-resume-trans">
        <div>
            <span>A receber hoje:</span>
            <strong class="receivement">R$ </strong>
        </div>
        <div>
            <span>Restante do mês:</span>
            <strong>R$ </strong>
        </div>
        <div>
            <span>Atrasados:</span>
            <strong>R$ </strong>
        </div>
    </div>

    <div class="container-resume-trans">
        <div>
            <span>A pagar hoje:</span>
            <strong class="payment">{{payment_value_today}}</strong>
        </div>
        <div>
            <span>Restante do mês:</span>
            <strong>R$ {{payment_value_rest}}</strong>
        </div>
        <div>
            <span>Atrasados:</span>
            <strong>R$ {{payment_value_late}}</strong>
        </div>
    </div>
    <div class="container-daily-flow">
    </div>
</div>