/*region:reset-css*/
*{
    padding: 0;
    margin: 0;
    border: none;
}
/*endRegion:reset-css*/

/*region:html*/
html{
    font-family: 'Inter', sans-serif;
}
/*endRegion:html*/

html,body{
    height: 100%;
}

/*region:body*/
body{
    margin: 0 auto;
    max-width: 1200px;
    background-color: #181B23;
}
/*endRegion:body*/

/*region:header*/
header{
    padding: 15px;
}

header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div > span{
    color:rgb(253, 222, 249);
    font-weight: 600;
    letter-spacing: 1px;
}

header > div > div > button, header > div > div > form > button{
    background-color: transparent;
}

header > div > div > form > button{
    margin-left: 12px;
    font-size: 16px;
}

header > div > div{
    display: flex;
    align-items: center;
}

header > div > div > span{
    margin-right: 12px;
    font-size: 12px;
    color: #bdbcbc;
}

.fa-gear,.fa-rotate-right,.fa-right-from-bracket{
    color:rgb(253, 222, 249);
    cursor: pointer;
    transition: color .2s ease;
}
.fa-gear{
    font-size: 16px;
    margin-left: 32px;
}

.fa-gear:hover,.fa-rotate-right:hover,.fa-right-from-bracket:hover{
    color:rgb(155, 120, 150);
}
/*endRegion:header*/

/*region:summary*/
.container-summary{
    display: grid;
    grid-template-areas: "acc acc"
                        "payR payP"
                        "dF dF";
    grid-template-rows: 0.6fr 1fr 1.4fr;
    column-gap: 10px;
    row-gap: 10px;
}

.container-resume-acc,.container-resume-trans,.container-daily-flow{
    background-color: #1F2029;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.02);
    border-radius: 20px;
}

.container-resume-acc{
    grid-area: acc;
    padding: 24px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.container-daily-flow{
    grid-area: dF;
}
.fa-building-columns{
    color: #2980B9;
}

.acc-icon{
    font-size: 24px;
}
.total-balance-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.total-balance{
    display: flex;
    flex-direction: column;
}
.accounts{
    position: relative;
}
.accounts > button{
    padding: 6px;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    border-radius: 6px;
    cursor: pointer;
}

.accounts > button:hover{
    background-color: #297fb91f;

}

.accounts > button > span{
    margin-left: 8px;
}
.accounts > button > span, i{
    color: #d3d3d3;
    font-size: 14px;
}
#list-accounts {
    visibility: hidden;
    min-height: fit-content;
    max-height: 270px;
    position: absolute;
    top:40px;
    right: 0;
    padding: 15px;
    background-color: #2d2e38;
    border-radius: 10px;
    overflow-y: scroll;
}
#list-accounts > li{
    padding: 10px 5px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
    list-style: none;
    font-size: 14px;
    background-color: #363744;
    color: #d3d3d3;
    border-radius: 8px;
}
#list-accounts > li+li{
    margin-top: 14px;
}
#list-accounts > li > strong{
    display: block;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.title{
    color: #d3d3d3;
    font-weight: 300;
    font-size: 14px;
}

.value{
    margin-top: 8px;
    font-size: 18px;
    font-weight: 500;
    color: #f5f5f5;
}

.container-resume-trans{
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-resume-trans > div {
    display: flex;
    flex-direction: column;
}

.container-resume-trans > div:nth-child(2) {
    margin-top: 8px;
}

.container-resume-trans > div:nth-child(1) > span{
    font-size: 14px;
    font-weight: 300;
    color: #d3d3d3;
}

.container-resume-trans > div:nth-child(1) > strong{
    margin-top: 8px;
    font-size: 18px;
    font-weight: 500;
}

.container-resume-trans > div:nth-child(2) > span{
    font-size: 12px;
    font-weight: 300;
    color: #d3d3d3;
}

.container-resume-trans > div:nth-child(2) > strong{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #f5f5f5;
}

.payment{
    color: #FF998B;
    
}

.receivement{
    color: #70FFAC;
}

.container-resume-trans > div:nth-child(3) > span{
    margin-top: 8px;
    font-size: 12px;
    font-weight: 300;
    color:#ffd7d0;
}

.container-resume-trans > div:nth-child(3) > strong{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #ffd7d0;
}
/*endRegion:summary*/


/*region:paylist-item*/
.list-item{
    
    margin: 5px 0px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;
    background-color: #23242E;
    border-radius: 15px;
    box-sizing: border-box;
}

.list-item > div:nth-child(2){
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.list-item > div:nth-child(2) > strong{
    width: 200px;
    display: inline-block;
    color: #f5f5f5;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
}

.list-item > div:nth-child(2) > span,li > div:nth-child(3) > span{
    color:#9b9b9b;
    font-size: 12px;
}

.fa-money-bill-transfer{
    color: #bdbcbc;
}

.list-item > div:nth-child(3){
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3px;
}

.list-item > div:nth-child(3) > strong{
    color: #f5f5f5;
    font-size: 16px;
    font-weight: 500;
}
/*endRegion:paylist-item*/

/*region:dashboard*/
.dashboard{
    padding: 0px 15px;
    padding-bottom: 15px;
    height: calc(100% - 80px);
    display: grid;
    grid-template-columns: 450px minmax(350px,450px);
    column-gap: 10px;
    justify-content: center;
}

.paylists-container{
    height: calc(100% - 15px);
    padding: 10px 20px;
    background-color: #1F2029;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.02);
    border-radius: 20px;
}

.paylists-container > h4{
    margin-bottom: 10px;
    font-size: 14px;
    color: #979797;
    font-weight: 500;
}

.paylists{
    max-height: 270px;
    overflow: scroll;
}

::-webkit-scrollbar{
    width: 0;
}

.dashboard__col2{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap:10px;
    
}

.empty{
    
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.empty > p { 
    color: #f5f5f5;
}

.empty > .fa-check{
    font-size: 24px;
    color: #70FFAC;
}

/*endRegion:dashboard*/

#modal{
    visibility: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    background-color: rgba(0,0,0,0.3);
}

#content-modal{
    padding: 30px;
    width: 230px;
    height: fit-content;
    background-color: #1F2029;
    border-radius: 10px;
    font-family: 'Open Sans',sans-serif;
}

#content-modal > span{
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-bottom: 24px;
    font-size: 14px;
    color: #979797;
}

#modal.active, #list-accounts.active{
    visibility: visible;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-container > label, .input-container > div > label,.input-container > div > a{
    font-size: 12px;
    color: #d3d3d3;
}

.input-container > input{
    padding: 0px 5px;
    height: 25px;
    border-radius: 4px;
    background-color: #23242E;
    color: #9b9b9b;
    outline: none;
}

.input-container > input:focus{
    outline: 1px solid #979797;
}

.form-buttons{
    display: flex;
    align-items: center;
    gap: 12px;
}

.form-buttons > button{
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity .125s ease-in-out;
}

.form-buttons > button:hover{
    opacity: 0.7;
}

.form-buttons > button:nth-child(1){
    background-color: transparent;
    border: 1px solid #979797;
    color: #979797;
    flex-grow: 1;
}

.form-buttons > button:nth-child(2){
    background-color: #70FFAC;
    border: 1px solid #70FFAC;
    flex-grow: 2;
}



.login{
    height: calc(100% - 75px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-content{
    padding: 30px;
    width: 250px;
    border-radius: 10px;
    background: #1F2029;
}

.login-content > p{
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
    text-align: center;
    color: #979797;
}

.login-content > form > button{
    margin: 0 auto;
    width: 100px;
    padding: 5px;
    background-color: #70FFAC;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity .125s ease-in-out;
}

.login-content > form > button:hover{
    opacity: 0.7;
}

.dashboard-messages{
    position: absolute;
    bottom: 0;
}

.login-messages{
    margin: -100px auto;
}

.login-messages, .dashboard-messages{
    width: 250px;
    padding: 20px;
    font-size: 12px;
    text-align: center;
    
}

.login-messages > li, .dashboard-messages > li{
    padding: 10px;
    
    font-weight: 500;
    list-style: none;
    border-radius: 10px;
}

.message-success{
    background-color: #70FFAC;
    color: #002b13;
}

.message-error{
    background-color: #FF998B;
    color: #3d0800;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-1-16 22:1:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
 /*region: animations*/
.rotate-center {
	-webkit-animation: rotate-center 2s linear infinite both;
	        animation: rotate-center 2s linear infinite both;
}

 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
/*endRegion:*/

@media(max-width:1366px){
    .paylists{
        max-height: 160px;
    }
}